body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;  
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    width: 270px; 
    padding: 15px;
    background-color: #C0FE5C;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 620px;
    margin-right: 40px; 
    margin-left: -4.2%;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar li {
    margin-bottom: 10px;
    font-size: 22px;
}

.hover-effect:hover {
    background-color: #ff69b4;
}

.quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px 50px;  
    margin-top: 20px;
    margin-left: 20px;  
    margin-right: 100px;  
}

.quiz-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    height: 200px; 
    width: 180px;
}

.quiz-box:hover {
    transform: scale(1.05);
}

.quiz-box h2 {
    margin-bottom: 10px;
    color: #333;
}

.quiz-box button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.quiz-box button:hover {
    background-color: #45a049;
}

.logout-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #faebd7;
    padding: 10px;
    border-radius: 5px;
}

#user-email {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.logout-button:hover {
    font-size: 24px;
    background-color: #ffff00;
}


 
@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .quiz-container {
        margin-left: 0;
        margin-right: 0;
    }
}

 
h1 {
    color: #333;
    text-align: center;  
}

#quiz-container {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-page {
    max-width: 800px;  
    margin: 50px auto;
    padding: 30px;  
    background-color: #fff;
    border-radius: 10px;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);  
}

.question-container {
    margin-bottom: 30px; 
    background-color: #d2fcfc;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);  
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.option:hover {
    background-color: #FFD700;  
}

.option.selected {
    background-color: #FF9F33;
    color: #fff;
}

#submit-btn {
    margin-top: 20px;  
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#result-container {
    text-align: left;  
    width: 80%;  
    word-wrap: break-word;  
    margin: 0 auto; 
    padding: 20px;  
    background-color: #f0f0f0;  
    border-radius: 10px;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);  
}

